@model IEnumerable<StudentApp.Models.studentwCourses>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Students</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SID.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SID.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SID.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SID.StudentName)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.CID.CourseName)
        </dd>

       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SID.Id  }) |
    @Html.ActionLink("Back to List", "Index")
</p>