@model StudentApp.Models.CourseInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cours</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CID.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CID.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CID.CourseDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CID.CourseDesc)
        </dd>

@foreach (var item in Model.SID)
{
    <dt>
        @Html.DisplayNameFor(model => item.StudentName)
    </dt>

        <dd>
            @Html.DisplayFor(model => item.StudentName)
        </dd>
}


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CID.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
